.WeatherTemperature .unit {
    position: relative;
    top: -29px;
    opacity: 0.5;
}
.WeatherTemperature a {
    color: #A970FF;
}
.WeatherTemperature a:hover {
    color: white;
}
@media (max-width:450px){
   .WeatherTemperature .unit {
    font-size: 14px;
    top: -24px;
   } 
}