.Weather {
    border: 1px solid #dadde1;
    background-color: #18181B;
    border-radius: 15px;
    padding: 20px;  
    margin: 20px auto; 
    max-width: 500px;
    color: white;
}
.Weather .btn-primary {
    background-color: #A970FF;
    border-color: #A970FF;
}
.Weather .btn-primary:hover {
    background-color: #A970FF;
    border-color:white;
}